html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#page
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: arial, sans-serif;
	background: none;
	width: 100%;
	height: 100%;

}

section {
	display:flex;
	flex-direction:column;
	align-items: center;
	align-self: center;
}

section div{
	flex-direction: row;
}

section div input{
	padding:10px 20px 10px 20px;
	margin-right: 8px;
	margin-left: 8px;
}
#recherche {
	width: 650px;
	height: 40px;
	border: solid grey 1px;
	border-radius: 3px;
	opacity: 0.5;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px grey;
}

#recherche:hover{
	box-shadow: 4px 4px 10px grey;
}

header
{
	display:flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 20px;	
	margin-top: 15px;
}

header a{
	margin-right: 10px;
	margin-left: 10px;
}

header img
{
	width: 30px;
	height: 30px;
}

footer{
	display:flex;
	justify-content: space-between;
	padding: 15px 15px 15px 15px;
	background-color: rgba(0,0,0,0.13);
	font-size: 14px;
}

footer span
{display: flex;
 }

footer a
{margin-right: 15px;
	margin-left: 15px;
}

footer a:hover{
  text-decoration-line: underline;
}

header a:hover{
	text-decoration-line: underline;
}

header img{
	opacity:0.45;
}
header img:hover{
	opacity: 0.7;
}

section div input{
	color:#666;
}

section div input:hover{
	border: solid black 0.4px;
	color:black;
}

 #Connexion
 {
 	background: #4285f4;
 	border : none;
 	padding: 10px;
 	color: white;
 	font-weight: bold;
 }

*{
	border: solid red 0px;
}

#Logo{
	width: 350px;
}

a{
	text-decoration-line: none; 
	color: #666;
}